.main-content{
    margin-left: 16vw;
    position: relative;
    top: 6rem;
    width: 82vw;
}
.main-banner{
    overflow: hidden;
}

.main-banner figure{
     position: relative;
     width: 400%;
     margin: 0;
     left: 0;
     animation: slideleft 10s ease-in-out infinite;
     cursor: pointer;
}

@keyframes slideleft{
    0%{
        left: 0%;
    }
    15%{
        left: 0%;
    }
    24%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    40%{
        left: -100%;
    }
    49%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    65%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    90%{
        left: -300%;
    }
    99%{
        left: -300%;
    }
}

.main-banner figure img{
    width: 25%;
    float: left;
    border-radius: 10px;
}

/* mobile search bar */

.mobile-search-bar{
    margin-top: 1rem;
}
.mobile-search-bar .Search-section{
    position: relative;
    margin-bottom: 1rem;
}

.mobile-search-bar .Search-section input{
    height: 1.5rem;
    padding: 0.25rem;
    width: 25rem;
    background-color: rgb(0,0,0);
    border: 0.8px solid rgb(34,34,34);
    border-radius: 4px;
    color: rgb(243, 226, 226);
    font-size: 15px;
}

.mobile-search-bar .Search-section input:focus{
    border: 0.8px solid rgb(135, 134, 134);
}

.mobile-search-bar select{
    height: 2.5rem;
    width: 100%;
    padding: 0.25rem;
    border-radius: 4px;
    background-color: rgb(0,0,0);
    color: rgb(230, 236, 236);
    font-size: 12px;
    border: 0.8px solid rgb(34,34,34);
}

.main-category{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 6rem;
    overflow: auto;
}

.main-category button{
    font-size: 1rem;
    margin: 0 0.25rem;
    padding: 0.5rem 1rem;
    background-color: rgb(59, 58, 58);
    border: 0.8px solid rgb(34,34,34);
    color: white;
    letter-spacing: 0.8px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.main-category button:hover{
    box-shadow: 0px 0px 2px 2px rgb(97, 0, 255);
}

.main-portions{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
}

.main-portions a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition-duration: 0.2s;
}

.main-portions a:hover{
    scale: 1.1;
}

.video-thumbnail{
    background-color: rgb(66, 82, 108);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.video-thumbnail img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.video-caption{
    display: flex;
    align-items: center;
    background-color: rgb(66, 82, 108);
    padding: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.video-play-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
    color: green;
    margin-right: 5px;
}

.video-details h1{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.video-details p{
    margin-top: 3px;
}